<dl class="references">
	{% for reference in references %}
		<div{{ ' class=missing' if reference.missing }}>
			<dt><a href="#bib-{{ reference.id }}" class="reference" id="bib-{{ reference.id }}">{{ reference | bibliography_citation }}</a></dt>
			<dd>{{ reference | bibliography_entry({doi_link: "id"}) | safe }}
				{% if reference.citations %}
					<small class="citation-links">
						<em>Cited in</em>
						{% for citation in reference.citations %}
							<a href="#ref-bib-{{ reference.id }}-{{ citation }}" class="reference-citation">{{ loop.index }}</a>{{ "," if not loop.last }}{{ " and" if loop.revindex == 2 }}
						{% endfor %}
					</small>
				{% endif %}
			</dd>
		</div>
	{% endfor %}
</dl>