{% macro single (citation, text = citation.id) -%}
<a href="#bib-{{ citation.id }}" class="reference" id="ref-bib-{{ citation.id }}">{{ text }}</a>
{%- endmacro -%}

<span class="citations">
	{%- for part in parts -%}
		{%- if part.citation -%}
			{{ single(part.citation, part.text) }}
		{%- else -%}
			{{ part }}
		{%- endif -%}
	{%- endfor -%}
</span>