{% macro single (id) %}
	<dt><a href="#bib-{{ id }}" class="reference" id="bib-{{ id }}">{{ id | bibliography_citation }}</a></dt>
	<dd>{{ id | bibliography_entry | safe }}</dd>
{% endmacro %}

{% macro list (refs) %}
	<dl class="references">
		{% for reference in refs.references %}
			{{ single(reference) }}
		{% endfor %}
	</dl>
{% endmacro %}